{% extends "items_temp/base.html" %}
{% block sliding %}{% endblock sliding %}
{% block body %}
<div class="container">
    <div class="card">
        <h3 class="card-header">Login</h3>
        <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
          <h4>Username:</h4>
          <div>
            {{form.username}}
          </div>
          <h4>Password:</h4>
          <div>
            {{form.password}}
          </div>
          <br>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
        </div>
    </div>
</div>

<style>
    .card-header{
        display:flex;
        justify-content:center;
        background-color: rgb(112, 122, 122);
    }

    .card-body{
        display:flex;
        justify-content:center;
        background-color: rgb(216, 233, 233);
    }

    .card{
        margin: 100px 100px;
        border-radius: 10px;
    }
</style>

{% endblock body %}



